<h1>Welcome, <%= current_user.username%></h1>

<h2>Gadgets</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th><%= link_to "Create Gadget", new_gadget_path%></th>
			<th>
				<%= form_tag(search_gadgets_path, method: :get) do %>
					<%= label_tag(:q, "Search for:") %>
					<%= text_field_tag(:q) %>
					<%= submit_tag('Search')%>
				<% end %>
			</th>
		</tr>
	</thead>
	<tbody>
		<%- current_user.gadgets.each do |gadget| -%>
			<tr>
				<td><%= gadget.name %></td>
			</tr>
		<%- end -%>
	</tbody> 
</table>

