<h1>Edit Gadget</h1>

<%= form_for(@gadget) do |f|%>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %> <br />
  <ul>
  <% @gadget.errors.full_messages.each do |msg| %>
  	<li><%= msg %></li>
  <% end %>	
  </ul></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<div>
	<% @gadget.gadget_images.each do |gadget_image| %>
		<%= image_tag gadget_image.attachment.url(:medium) %>
	<% end %>
	<%= form_for [@gadget, @gadget.gadget_images.new], :html => { :multipart => true } do |form| %>
		<%= form.file_field :attachment %>
		<%= form.submit "Send file" %>
	<% end %>
</div>